<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [opened]="sideopened" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
       <!--  <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->

      </mat-nav-list>
      <mat-accordion *ngIf="modulosPorGrupo" class="example-headers-align" multi>
        <mat-expansion-panel *ngFor="let grupo of modulosPorGrupo" >
          <mat-expansion-panel-header>
            <mat-panel-title>
             {{grupo.nombre_grupo}}
            </mat-panel-title>
            <mat-panel-description>
              
              
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-nav-list slot="content">
            <mat-list-item *ngFor="let subitem of grupo.modulos">
              <a style="text-decoration:none" routerLink="/{{subitem.componente}}" class="nav-link">
                <label >{{subitem.nombre_modulo}}</label>
              </a>
              
            </mat-list-item>

          </mat-nav-list>



        </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

